@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #242424;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}

p,ol,ul {
	margin-top: 0;
}

ol,ul {
	padding: 0;
	list-style: none;
}

p {
	line-height: 180%;
}

TABLE.marco {
	BORDER-BOTTOM: #9b0000 1px solid;
	BORDER-COLLAPSE: collapse;
	BORDER-LEFT: #9b0000 1px solid;
	BORDER-RIGHT: #9b0000 1px solid;
	BORDER-TOP: #9b0000 1px solid;
	COLOR: white;
	FONT-FAMILY: Arial;
	FONT-SIZE: 12px;
	WIDTH: 500px;
	font-weigth: 500;
	align: center
}

TR.titulo {
	BACKGROUND-COLOR: #9b0000;
	FONT-SIZE: 14px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: top;
	caption-side: left
}

TR.marco {
	BACKGROUND-COLOR: #e4e4e4;
	COLOR: #000000
}

TD.marco {
	PADDING-BOTTOM: 20px;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 20px;
	PADDING-TOP: 20px
}